
<head>

    <meta charset="utf-8" />
    <title>Estilo Fire</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!--Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.jpg" />
		
	<!-- CSS Files -->
		
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/responsive.css" />
	<link rel="stylesheet" href="css/player/YTPlayer.css" />
	<link href="css/pro-bars.css" rel="stylesheet" />
	

	<!-- End CSS Files -->
 
</head>

<body>

	<!-- Navigation -->
	<section id="navigation" class="dark-nav">
		<!-- Navigation Inner -->
		<div class="nav-inner">
			<!-- Site Logo -->
			<div class="site-logo fancy">
				<a href="#" id="logo-text" class="scroll logo">       <img src="images/logo.png" width="200" alt="Logo" />
				</a>
			</div><!-- End Site Logo -->
			<a class="mini-nav-button gray2"><i class="fa fa-bars"></i></a>
			<!-- Navigation Menu -->
		    <div class="nav-menu">
				<ul class="nav uppercase">
					<li><a href="#video_quem_somos" class="scroll">Quem somos</a></li>       
					<li><a href="#video_vamos_viajar" class="scroll">Vamos Viajar?</a></li>       
					<li><a href="#video_vamos_cuidar_saude" class="scroll">Vamos cuidar da saúde?</a></li>
					<li><a href="#features" class="scroll">Que tal ser nosso parceiro?</a></li>     
					<!--<li><a href="#clients" class="scroll">Youtube</a></li>
					<li><a href="#testimonial" class="scroll">Depoimentos</a></li>
					<li><a href="#contact" class="scroll">Contato</a></li>-->
				</ul>
		  </div><!-- End Navigation Menu -->
		</div><!-- End Navigation Inner -->
	</section><!-- End Navigation Section -->


	<!-- Home Section -->
	<section id="home" class="relative"> 	
		<div id="slides">
			<div class="slides-container relative">
				<!-- Slider Images -->
				<!--  <div class="image2"></div> -->
                       <div class="image4"></div>
				<div class="image3"></div>
                <div class="image1"></div>
				 <!-- End Slider Images -->	 
			</div>
			<!-- Slider Controls -->
			<nav class="slides-navigation">
			  <a href="#" class="next"></a>
			  <a href="#" class="prev"></a>
			</nav>
		</div><!-- End Home Slides -->
		<div class="v2 absolute">
			<!-- Auto Typocraphic Texts -->
			<div class="typographic">
            	<!-- Your Logo -->
				<!--<div class="logo">
					<img src="images/logo.png" width="200" alt="Logo" />
				</div>-->
				<h2 class=" condensed uppercase no-padding no-margin bold gray1">ESTILOFIRE</h2>
				<h2 class=" condensed uppercase no-padding no-margin bold colored">#DECOLENAVIDA</h2>
				<a href="#about" class="scroll"><i class="arrow-down fa fa-3x fa-angle-double-down"></i></a>
			</div><!--End Auto Typocraphic Texts -->
		</div><!-- End V2 area -->
	</section><!-- End Home Section -->

	<section id="video_quem_somos">
	<div class="video-container-menor">
	        		 <iframe src="https://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
        		 </div>
       </section>


        <!-- About -->
	<section id="about" class="container waypoint">
		<div class="inner">        
        
			<!-- Header -->
			<h1 class="header light gray3 fancy"><span class="colored">Quem</span> somos?</h1>

			<!-- Description -->
			<p class="h-desc gray4">Somos um casal de Personal Trainers,  que deseja levar as pessoas, um estilo de vida saudável e prazeroso: <span class="colored">Estilo Fire</span>representa o nosso estilo de vida e a forma como nos expressamos, acreditamos que viver em equilíbrio é a melhor forma de ter paz e felicidade. Desejamos que as pessoas tenham saúde, previnam doenças através de exercícios físicos realizados de forma regular, sem exageros, orientados por profissionais qualificados, tenham uma alimentação saudável e sem abrir mão dos prazeres da vida. Além disso, gostaríamos de incentivar as pessoas a viajar mais, conhecer o Brasil e o mundo através dos nossos vídeos e fotos que estão no Instagram e no Youtube. Sendo assim, #decolenavida com <span class="colored">Estilo Fire</span>.
			</p>
			<hr>       
        
		
		</div><!-- End About Inner -->
	</section><!-- End About Section -->
    
		


	<section id="video_vamos_viajar">
	<div class="video-container-menor">
	        		 <iframe src="https://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
        		 </div>
       </section>
    
    <!-- About -->
	<section id="about" class="container waypoint">
		<div class="inner">        
        
			<!-- Header -->
			<h1 class="header light gray3 fancy"><span class="colored">Vamos </span>Viajar?</h1>

			<!-- Description -->
			<p class="h-desc gray4">Gostamos de conhecer novos lugares e novas pessoas! Gostamos de viajar em grupo! Qualquer lugar fica incrível do lado de pessoas especiais. Mas para conseguir dar atenção a todos os grupos são limitados. Por isso não perca tempo! <br /><br /></p> 
			<hr>       
        
			<!-- Members -->
			<div class="team-members inner-details">
				<h1>Próximas viagens</h1>
				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="0">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="images/clients/estilofire2.jpeg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Praia do Dolphin #estilofire</h2>
								<!-- Description -->
								<p class="member-description">Paraíso! Praia do Dolphin Explorer! Excelente opção de passeio em Punta Cana! Praia linda! Amamos!</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
										<a href="https://www.instagram.com/p/BHp9cVvD0UGnDweiPCT1tZZCAoDiXDDitOWf8s0/?taken-by=estilofire" target="blank"><i class="fa fa-camera"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="100">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="images/clients/estilofire1.jpeg" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Suiça #estilofire</h2>
								<!-- Description -->
								<p class="member-description">Dia incrível! Zermatt é Magnífico! A Suíça é maravilhosa! Ao fundo está o Matterhorn, montanha mais conhecida dos Alpes! A mesma que inspirou o Toblerone e Paramount Pictures! Passeio imperdível!</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Image -->
									<a href="https://www.instagram.com/p/BHe4FFgDBQwiIDn1Q_1Jeh8bL8yXXuy4INDu_o0/?taken-by=estilofire"><i class="fa fa-camera" target="blank"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->


				<!-- Member -->
				<div class="col-xs-4 member animated" data-animation="fadeInUp" data-animation-delay="200">
					<div class="member-inner">
						<!-- Team Member Image -->
						<a class="team-image">
							<!-- Img -->
							<img src="images/clients/estilofire3.png" alt="" />
						</a>
						<div class="member-details">
							<div class="member-details-inner">
								<!-- Name -->
								<h2 class="member-name light">Baby Beach #estilofire</h2>
								<!-- Description -->
								<p class="member-description">Paraíso! Praia maravilhosa! Você gosta de snorkeling? Então vai gostar de Baby Beach. Com águas calmas, quentes e cristalinas é um convite ao esporte. É uma das melhores praias de Aruba. Mesmo no raso, você já verá muitos peixes.</p>
								<!-- Socials -->
								<div class="socials">
									<!-- Link -->
									<a href="https://www.instagram.com/p/BHaOPFGDgJPhSMuk78ormJVhLHYk8-sKX-Ohpg0/?taken-by=estilofire"><i class="fa fa-camera" target="blank"></i></a>
								</div><!-- End Socials -->
							</div> <!-- End Detail Inner -->
						</div><!-- End Details -->
					</div> <!-- End Member Inner -->
				</div><!-- End Member -->
			
			
			</div><!-- End Members -->
		</div><!-- End About Inner -->
	</section><!-- End About Section -->



	<section id="video_vamos_cuidar_saude">
	<div class="video-container-menor">
	        		 <iframe src="https://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
        		 </div>
       </section>

        <!-- About -->
	<section id="about" class="container waypoint">
		<div class="inner">        
        
			<!-- Header -->
			<h1 class="header light gray3 fancy"><span class="colored">Vamos </span>cuidar da saúde?</h1>

			<!-- Description -->
			<p class="h-desc gray4"><span class="colored">Personal Trainer - Estilo Fire</span> </p>

			<p class="h-desc gray4">Oferecemos este serviço àquelas pessoas que desejam ter seus resultados otimizados com exclusividade, objetividade, comodidade e eficiência na execução dos exercícios. O treinamento será especificamente elaborado de acordo com as suas necessidades e seu estilo de vida. </p>

			<p class="h-desc gray4"><span class="colored">Vantagens</span><p>
			<p class="h-desc gray4">Treinar com o Filipe ou a Renata e até se necessário com os dois. <br>
			Os locais de treinos podem ser variados de acordo com a necessidade do aluno.

			<p class="h-desc gray4"><span class="colored">Locais de treino(Pampulha – Belo Horizonte):</span><br>
			Academias e estúdios Condomínios Residências <br>
			Seu próprio local de trabalho Parques <br>
			Praças	<br>
			Nosso estúdio particular<br>
			</p>
        
		
		</div><!-- End About Inner -->
	</section><!-- End About Section -->

    
	<!-- Clients -->
	<section id="clients" class="container">

		<!-- Team Inner -->
		<div class="inner team">

			<!-- Header -->
			<h1 class="header light gray3 fancy"><span class="colored"></span> Youtube</h1>

			<!-- Description -->
			<p class="h-desc gray4"><script src="https://apis.google.com/js/platform.js"></script>

			<div class="g-ytsubscribe" data-channel="GoogleDevelopers" data-layout="default" data-count="default"></div></a></p>

			<p>
			<div class="video-container">
     			    <iframe src="https://www.youtube.com/embed/dFVxGRekRSg" frameborder="0" width="560" height="315"></iframe>
			</div>
			</p>

				


			


			</div><!-- End Members -->
		</div><!-- End Team Inner -->
	</section><!-- End Team Section -->  


	
    
	<!-- Testimonials -->
	<section id="testimonial" class="testimonials parallax2">

		<div class="inner">

			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
			    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			    	<ul>
				     <li class="monial">
						<!-- Text -->
						<h1 class="condensed black">"Melhor investimento na saúde. O personal não é só aquele que pensa em perfomance e desempenho mas sim aquele que preocupa  realmente com  a saúde do aluno."</h1>
						<!-- Name -->
						<p class="light">Thiago Macedo</p>
					</li>
					</ul>
			    </div>
			    <div class="item">
			      <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed black">"Emagreci 15 kilos e melhorei a saúde. Saúde depois que perde não tem dinheiro que pague. Por isso invista em quem quer cuidade de você."</h1>
						<!-- Name -->
						<p class="light">Fernanda Assis</p>
					</li>
				</ul>	
			    </div>
			    <div class="item">
			    <ul>
			      <li class="monial">
						<!-- Text -->
						<h1 class="condensed black">" Filipe e Renata são professores humanos que pensam na saúde e preocupam realmente com os alunos. Parabéns "</h1>
						<!-- Name -->
						<p class="light">João  Wagner</p>
					</li>
				</ul>	
			    </div>
			  </div>

			 
			</div>  

					</div><!-- End Inner Div -->

	</section><!-- End Testimonials Section -->


	<!-- Contact Section -->
	<section id="contact" class="container parallax4">
		<!-- Contact Inner -->
		<div class="inner contact">

			<!-- Form Area -->
			<div class="contact-form">
            
            	<h4 class="header light gray3 fancy"><span class="colored">Contato</span> Us</h4>
                <p class="h-desc white">Envie um e-mail  para tirar todas as suas dúvidas e também  contratar nossa consultoria online.<br />
                 	Mande um e-mail ou entre em contato através de ligação ou whatsapp do número:<span class="bold colored">+31 99192-23131</span></p>
				<!-- Form -->
				<form id="contact-us" method="post" action="#">
					<!-- Left Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInLeft" data-animation-delay="300">
						<!-- Name -->
						<input type="text" name="name" id="name" required="required" class="form" placeholder="Nome" />
						<!-- Email -->
						<input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
						<!-- Subject -->
						<input type="text" name="subject" id="subject" required="required" class="form" placeholder="Assunto" />
					</div><!-- End Left Inputs -->
					<!-- Right Inputs -->
					<div class="col-xs-6 animated" data-animation="fadeInRight" data-animation-delay="400">
						<!-- Message -->
						<textarea name="message" id="message" class="form textarea"  placeholder="Mensagem"></textarea>
					</div><!-- End Right Inputs -->
					<!-- Bottom Submit -->
					<div class="relative fullwidth col-xs-12">
						<!-- Send Button -->
						<button type="submit" id="submit" name="submit" class="form-btn semibold">Enviar Mensagem</button> 
					</div><!-- End Bottom Submit -->
					<!-- Clear -->
					<div class="clear"></div>
				</form>

				<!-- Your Mail Message -->
				<div class="mail-message-area">
					<!-- Message -->
					<div class="alert gray-bg mail-message not-visible-message">
						<strong>Thank You !</strong> Your email has been delivered.
					</div>
				</div>

			</div><!-- End Contact Form Area -->
		</div><!-- End Inner -->
	</section><!-- End Contact Section -->



	<!-- Site Socials and Address -->
	<section id="site-socials" class="no-padding white-bg">
		<div class="site-socials inner no-padding">
			<!-- Socials -->
			<div class="socials animated" data-animation="fadeInLeft" data-animation-delay="400">
				<!-- Facebook -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-facebook"></i>
				</a>
				<!-- Twitter -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-twitter"></i>
				</a>
				<!-- Instagram -->
				<a href="#" class="social">
					<i class="fa fa-instagram"></i>
				</a>
				<!-- Linkedin -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-linkedin"></i>
				</a>
				<!-- Vimeo -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-vimeo-square"></i>
				</a>
				<!-- Youtube -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-youtube"></i>
				</a>               
				<!-- Google Plus -->
				<a href="#" target="_blank" class="social">
					<i class="fa fa-google-plus"></i>
				</a>                
			</div>
			<!-- Adress, Mail -->
			<div class="address socials animated" data-animation="fadeInRight" data-animation-delay="500">
				<!-- Phone Number, Mail -->
				<p>Phone: +1 (800) 245-1234 Email : <a href="mailto:info@Fitness.com" class="colored">info@Fitness.com</a> Address: 23 Renesa, Surma Beach, Newyork</p>
				<!-- Top Button -->
				<a href="#home" class="scroll top-button">
					<i class="fa fa-arrow-circle-up fa-2x"></i>
				</a>
			</div><!-- End Adress, Mail -->
		</div><!-- End Inner -->
	</section><!-- End Site Socials and Address -->



	<!-- Footer -->
	<footer id="footer" class="footer">
		<!-- Your Company Name -->
        <img src="images/logo.png" width="200" alt="Logo" />
		<!-- Copyright -->
		<p class="copyright normal">© 2014 <span class="colored">Fitness.</span> All Rights Reserved.</p>
	</footer><!-- End Footer -->

	<!-- JS Files -->
	
	
	<script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/jquery.appear.js"></script>
	<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="js/modernizr-latest.js"></script>
	<script type="text/javascript" src="js/SmoothScroll.js"></script>
	<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/jquery.superslides.js"></script>
	<script type="text/javascript" src="js/jquery.flexslider.js"></script>
	<script type="text/javascript" src="js/jquery.mb.YTPlayer.js"></script>
	<script type="text/javascript" src="js/jquery.fitvids.js"></script>
	<script type="text/javascript" src="js/jquery.slabtext.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<script>

  $("a.about-icon").hover(function () {
    $(this).children("i").addClass("fa-spin");
 }, function(){
 	$(this).children("i").removeClass("fa-spin");
 });



</body>
